.InsideCArt {
    display: flex;
    /* border: 2px solid red; */
    width: 50%;
    height: auto;
    align-items: center;
    margin-left: 10%;

    box-sizing: border-box;
    /* border: 2px solid  red; */
 border-radius: 10px;
    box-shadow: 2px 2px 2px #e0e0e0, -2px -2px 2px #e0e0e0;
}

.cart-image {
    /* height:80%; */
    /* max-width: 100%; */
    padding: 10px 20px;
    /* height: 50%; */
    /* border: 2px solid red; */
}

.DetailInCart {
    margin-left: 3%;

}

.deleteItem {
    position: relative;
    top: -3.5rem;
    left: 25rem;
}


.cartWrapper {
    margin-top: 110px;
    display: flex;

}

.cartTotalBill {
    /* margin-top: 10px; */
  
    width: 25%;
    margin-left: 30px;
   border-radius: 10px ;
   box-shadow: 2px 2px 2px #e0e0e0, -2px -2px 2px #e0e0e0;
 

    
}

.FinalBill {
    display: grid;
    grid-template-columns: 4.3fr 1fr;
    margin-top: 2rem;
    margin-left: 1rem;
}

.betweenmargin {
    margin-top: 1rem;
}
.priceDetail{
    margin: 1rem;
}



.upper {
    text-transform: uppercase;
}
.totolAmount{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    margin-left: 1rem;
    /* display: flex; */
}

.discountprice ,.discountOnMrp  {
    color: rgb(125, 196, 18);
}
button{
    color: white;
    background-color: rgb(206, 28, 96);
    border: none;
    width: 98%;
    border:7px;
    padding: 10px 15px;
    font-size: large;
}

/* .price {}



.convience {}

.convienceFee {}

.devider {}

.final {} */